<div class="bg">

<div style="padding: 210px;">

    <mat-card>
        <mat-card-header>
            <mat-card-title >Jobs, Inc.</mat-card-title>
                <mat-card-subtitle>Welcome to your next big role in life.
                </mat-card-subtitle>
        </mat-card-header>
            
        <mat-card-content>
            <p style="padding: 20px;">
                At Job Inc., we care as much about your dreams as you do. Need to know your strengths? We'll lend an ear. Need to know how to be human in a job interview? We'll give you tips and tricks. Need to find real job listings for your dream job? Look no further than Job Inc. with our newly designed interface made especially with you in mind.
            </p>
        </mat-card-content>
    </mat-card>
</div>

</div>
