<div class="bg">

  <h1 class="header">Contact Us</h1>


  <mat-card>
      <mat-card-header>
          <mat-card-title >Jobs, Inc.</mat-card-title>
              <mat-card-subtitle>Welcome to your next big role in life.
              </mat-card-subtitle>
      </mat-card-header>

<div class="form-container">
    <mat-form-field>
      <input matInput placeholder="Name">
    </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Message"></textarea>
    </mat-form-field>
  </div>

<div class="button-row">
  <button mat-raised-button color="accent">Send</button>
</div>

</mat-card>

  
</div>